<p id="notice"><%= notice %></p>

<h1>User Stocks</h1>

<%= render 'partials/sort_filter_stock', categories_filter: @categories_filter %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Category</th>
      <th>User</th>
      <th>Expiry Date</th>
      <th>Qty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stocks.each do |user_stock| %>
      <tr>
        <td><%= user_stock.name %></td>
        <td><%= user_stock.image %></td>
        <td><%= user_stock.category.name %></td>
        <td><%= user_stock.user_id %></td>
        <% user_stock.batches.each do |b| %>
          <td><%= b.expiry %></td>
          <td><%= b.quantity %></td>
        <% end %>
        <td><%= link_to 'Show', user_stock %></td>
        <td><%= link_to 'Edit', edit_user_stock_path(user_stock) %></td>
        <td><%= link_to 'Destroy', user_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Stock', new_user_stock_path %>
